@media (max-width: 1170px) {
    .header-conteiner, .cover, .section-div1  {
        width: 90%;
    }
    .section1 {
        padding-top: 100px;
    }
    .section-content-div {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }
    .section2-conteiner {
        width: 90%;
    }
}
@media (max-width: 1150px) {
    .section-div3 {
        margin-top: 20px;
        width: 690px;
        display: flex;
        justify-content: right;
    }
    .srction2-div4 {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content:center ;
    }
}
@media (max-width: 1125px) {
        .burger-bar {
            display: block;
            font-size: 100px;
            display: flex;
        }
        .fa-bars {
            font-size: 30px;
        }
        .nav1 {
            display: none;
        }
        .logo1 {
            width: 100px;
        }
        .conteiner-div3 {
            max-width: 300px;
            width: 100%;
        }
        .header-div3>h4 {
            font-size: 20px;
        }
        .icon {
            width: 30px;
        }
        .section-content-div {
          font-size: 20px;
        }

    }
@media (max-width: 888px) {
    .header-div2 {
        max-width: 1096px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
