      /* header start */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header-conteiner {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}
.header-div1 {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 36px 0 ;
}
.burger-bar {
    display: none;
}
.img-logo {
    display: flex;
    align-items: center;
}
.header-div2 {
    max-width:1170px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul1{
    display: flex;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
.nav-li1:hover{
  text-decoration: underline;
}
.nav-li2:hover{
    text-decoration: underline;
}
.nav-li3:hover{
    text-decoration: underline;
}
.nav-li4:hover{
    text-decoration: underline;
}
.nav-li1 {
    margin-right: 36px;
}
.nav-li2 {
    margin-right: 36px;
}
.nav-li3 {
    margin-right: 36px;
}
.nav-li1 > a { 
    color: #202126;
}
.nav-li2 > a { 
    color: #202126;
}
.nav-li3 > a { 
    color: #202126;
}
.nav-li4 > a { 
    color: #202126;
}
.conteiner-div3 {
    max-width: 210px;
    width: 100%;
}
.header-div3 {
    display: flex;
    align-items: center;
}
.header-div3>h4 {
    font-size: 13px;
    margin-right: 12px;
    font-family: 'Montserrat', sans-serif;
}
.header-div3>div {
    width: 44px;
    height: 1px;
    background-color: #202126;
    margin-right: 12px;
}
.header-div3>img {
    margin-right: 10px;
}
.icon:not(:last-child) {
    margin-right: 10px;
}
         /* header end */
        /* article start */
.article1 {
    padding-top: 91px;
}       
.article-conteiner {
    width: 1170px;
    
    margin: auto;
    display: flex;
    justify-content: center;
}
.cover {
    width: 1170px;
    height: 603px;
    background-image: url("../img/cover-img.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cover > h1 {
    font-size: 60px;
    color: #202126;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.cover > p {
    font-size: 18px;
    color: #202126;
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}  
        /* article end */
        /* section1 start */
.section1 {
    padding-top: 150px;
}
.section1-conteiner {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}
.section-div1 {
    display: flex;
    justify-content: center;
}
.section-content-div {
    width: 970px;
    display: flex;
    justify-content: space-between;
}  
.section-div2 {
    width: 689px;   
}
.section-div2 > h4 {
    font-size: 25px;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.section-div2 > p {
    font-size: 14px;
    color: #717171;
    padding-top: 33px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9;
}
.arrow-div {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items:end;
}
.arrow-div >a span  {
    color: #202126;
    font-size: 16px;
    margin-right: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal; 
}
/* --------------arow---------------- */
.span1:hover {
    color:#D7BE69;
}
.fas {
    font-size: 10px;
    margin-left: 15px;
}
/* --------------arow---------------- */

        /* section1 end */
        /* section2 start */

.section2 {
    padding-top: 150px;
}
.section2-conteiner {
    max-width: 1170px; 
    width: 100%;
    margin: auto;
}
.section2-div2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2-div2 > h4 {
    font-size: 25px;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.srction2-div3 {
    width: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.srction2-div3> span {
    font-size: 16px;
    color: #202126;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-right: 13px;
}
       /* ----01------ */
.srction2-div4 {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}
.section2-div5 {
    max-width: 470px;
    width: 100%;
}
.section2-div6-1 {
    margin-top: 100px;
}
.section2-div6-2 {
    margin-top: 110px;
}
.section2-img1-2 {
    width: 470px;
}
.section2-div7 {
    display: flex;
    margin-top: 50px;
}
.section2-div7>p {
    font-size: 51px;
    color: #202126;
    font-family: 'Abril Fatface', sans-serif;
}
.section2-div8 {
    width: 275px;
    margin: 24px 0 0 35px;
}
.section2-div8>h3 {
    font-size: 16px;
    color: #202126;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.section2-div8>p {
    font-size: 14px;
    color: #717171;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-top: 13px;
}
.section2-div9 {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.section2-div9> span {
    font-size: 16px;
    color: #202126;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
        /* ---------- */
        /* section2 end */
        /* section3 start */
.section3 {
    padding-top: 150px;
}
.section3-div00{
    max-width: 1170px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;  
}  
.section3-div01 {
    max-width: 367px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section3-div01>h3 {
    font-size: 25px;
    color: #202126;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.section3-div01>p {
    font-size: 14px;
    color: #717171;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-top: 25px;
}
.srction-div02 {
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 0 200px;
}
.srction-div02>a {
    color: #202126;
}
.srction-div02>a span {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.section3-conteiner {
    max-width: 709px;
    width: 100%;
    height: 430px;
    border: 1px solid #707070;
    border-radius: 5px;
    background-color: #202126;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}
.section3-conteiner::-webkit-scrollbar {
    width: 0;
}
.section3-conteiner::-webkit-scrollbar-track {
    background-color: #202126;
}
.section3-conteiner::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border: 7px solid #202126;
    border-radius: 10px;
}
.div-123 {
    display: flex;
}
.section3-div1 {
    width: 272px;
    height: 327px;
    background-color: #202126;
    border: 1px solid #D5D5D5;
    border-radius: 15px; 
    margin-left: 50px;
}
.section3-div1>h3 {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 29px 0 0 13px;
}
.section3-div1>p {
    font-size: 14px;
    color: #D5D5D5;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    padding: 27px 0 0 13px;
    white-space: normal;
}
.section3-div2{
    width: 130px;
    padding: 56px 0 0 13px;
}
.section3-div2>a {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section3-div2>a span {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.srction3-div03 {
    font-size: 16px;
    display: flex;
    justify-content: end;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
.srction3-div03>a {
  color: #202126;
}
        /* section3 end */
        /* footer start */
.footer1 {
    padding-top: 211px;
}
.footer-conteiner {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
}
.footer-div2 {
    max-width: 468px;
    width: 100%; 
}
.footer-div2>h3 {
    font-size: 20px;
    color: #202126;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.footer-div2>p {
    font-size: 14px;
    color: #95989A;
    font-family: 'Open Sans', sans-serif;
    margin-top: 27px;
    line-height: 1.5;
}
.footer-form {
    display: flex;
    flex-direction: column;
}
.footer-input1 {
    height: 48px;
    font-size: 12px;
    color: #202126;
    border: 1px solid #202126;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    padding-left: 25px;
    
}
.footer-input3 {
    height: 123px;
    font-size: 12px;
    color: #202126;
    border: 1px solid #202126;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    padding-left: 25px;
    resize: none;
}
.footer-input4 {
    font-size: 16px;
    color: #202126;
    border: none;
    background-color:#FAFAFA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    direction: rtl;
    margin-top: 25px;
}
.footer-div3 {
    max-width: 1170px;
    width: 100%;
    height: 86px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer-ul4 {
    max-width: 356px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-ul4> li {
    font-size: 12px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
}
.footer-div5 {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    height: 68px;
    background-color: #202126;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-div6 {
    max-width: 345px;
    width: 100%;
   
}
.footer-div6 >p {
    font-size: 12px;
    color: #D5D5D5;
}
        /* footer end */